@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{
    background: #F5F5F5;
    font-family: "Raleway", sans-serif;
    
}
header{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 160px;
    height: 24px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 60px;
}

nav{
    width: 653px;
    height: 19px;
    margin: 0  auto;  
}
nav li{
 display: inline;
 margin-left: 30px; 
}

nav a{
    color:#464646;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#hero{
    width: 100%;
    height: 368px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.text-hero{
    width: 751px;
    height: 246px;
    line-height: 25.83px;
    padding: 32px;
}

.text-hero h2{
    height: 40px;
    text-align:justify;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.img-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:300px;
    border-radius: 50%;
    margin:auto;
    overflow: hidden;
    
}

.img-hero img{
    width: 300px;
}

.link-hero{
    width: 467px;
    height: 24px;   
    margin-top: 10px; 
}
.lst-link-hero{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    font-size:'Raleway', sans-serif; 
    color: #464646;
}

.lst-link-hero a{
    text-decoration: none;
}

#sobreMi{
    width: 100%;
    height: 383px;
    background: #EAF2FD;
}

.text-sobreMi{
    width: 100%;
    height: 255px;
   
}

.descripcion-sobreMi{
    width: 751px;
    height: 133px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 18px;
    color: #464646;
    margin-top: 44px;
}

#skills, #hobbies{
    width: 100%;
    height: 244px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 16px;
}

.lst-box-skills, .lst-box-hobbies{
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    
}

.tituloPrincipal{
    font-size: 32px;
    color:#4d4d4d;
    font-family: 'Raleway', sans-serif; 

}

.box-skills, .box-hobbies{
    width: 176px;
    height: 174px;
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

#formacion{
    width: 100%;
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EAF2FD;
    
}

.lst-box-formacion{
    width: 100%;
    height: 347px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
    
}
.box-formacion{
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction:column;

}

.img-formacion{
    width: 200px;
    height: 286px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacto{
    width: 100%;
    height: 788px;
    background: #EAF2FD;
    display: flex;
    margin-top: 32px;
    flex-direction: row;
}

form{
    width: 656px;
    height: 596px;
    margin-left: 16px;
    margin-top: 129px;
    
}

form label, .text-contacto{
    display:block;
    font-size:16px;
    margin-bottom: 0.5rem;
    width: 70%;
}

.input, .textarea{
    display: block;
    padding: 1.375rem 0.5rem 0.5rem;
    width: 70%;
    border-radius: 7px;
    border: none;
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
    border-radius: 7px;
    

}

.img-contacto{
    width: 464px;
    height: 593px;
    margin-left: 152px;
    margin-top: 129px;
}

.enviar{
    width:144px;
    height: 45px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background: #2A7AE4;
    transition: 1s all;
    cursor: pointer;
    border-radius: 7px;
    
}
.enviar:hover{
    background: darkblue;
}

.input-contacto{
    position: relative;
    margin-bottom: 1rem;
}
.input-label{
    position:absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size:20px;
    transition: all 0.25s;
    color: #4d4d4d;
}

.input::placeholder{
    visibility: hidden;
    color: #00000000;
}
.input-contacto-invalid .input{
    border: 1px solid #df2525;
}

.input-contacto-invalid .input-label{
    color:#df2525;
}
  
.input-contacto-invalid .input-mensaje-error {
    color: #df2525;
    display: block;
    margin-bottom: 1.375rem;
    padding-left: 0.5rem;
  }


.input:focus {
    outline: none;
  }

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top:0.25rem;
  transition: all 0.25s;
}


.textarea-contacto {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.textarea{
    resize: none;
}
.textarea::placeholder {
    visibility: hidden;
  }

.textarea-label{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 20px;
    transition: all 0.25s;
}  

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}


footer{
    text-align: center;
    padding: 32px;
}

/*
*
* 
TABLET
768px
*
*
*/

@media screen and (max-width: 768px){
    .logo{
        margin-left: 29px;
    }
    #hero{
        width: auto;
        height: 210px;
        flex-direction: row;
        margin-bottom: 32px;

    }
    nav{
        display: none;
    }

    .text-hero{
        width: 524px;
        height: 130px;
    }
    .text-hero h2{
        height: 52px;
    }

    .text-hero p{
        height: auto;
    }



    .img-hero{
        width: 146px;
        height:146px;
        margin-top:30px;
        
    }
    
    .img-hero img{
        width: 146px;
    }

    .descripcion-sobreMi{
        width: auto;
    }

    .lst-box-formacion {
        margin: 32px 0 0 42px;
    }
    
    .img-contacto{
      display: none;
    }

    form{
        margin: 20px auto 0 auto;  
    }

    form input, form textarea{
        width: 90%;
        margin: 12 auto;
       
    }


  
}

/*
*
*
CELULARES
480px
*
*
*/

@media screen and (max-width: 480px){
    #hero {
        width: auto;
        height: auto;
        flex-direction: column-reverse;
    }

    .text-hero{
        height: auto;
    }

    .text-hero h2{
        height: 52px;
    }
    .link-hero{
        height: 16px;
    }

    .img-hero{
        width: 98px;
        height: 98px;
        margin-top:0;
        
    }

    .text-hero,.link-hero{
        width: auto;
    }

    .descripcion-sobreMi {
        height: auto;
        margin-top: 16px;
    }

    #skills, #hobbies{
        width:auto;
        height: 400px;
        padding: 16px;  
    }

    .lst-box-skills, .lst-box-hobbies{
       flex-wrap: wrap;
        
    }
    .box-skills, .box-hobbies{
        width: 156px;
        height: 118px;
        margin: 22px auto 0 auto;
    }

    #formacion{
        width: auto;
        height: 661px;
        display: flex;
       
    }

    .lst-box-formacion{
        width: auto;
        height: 539px;
        flex-wrap: wrap;
        
    }

    .box-formacion{
        width: 296px;
        height: 118px;
        
    }

    form input, form textarea {
        width: 80%;
       
    }




}

   